services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\State\UserPasswordHasherProcessor:
        decorates: 'api_platform.doctrine.orm.state.persist_processor'
        arguments:
            $innerProcessor: '@.inner'

when@test:
    services:
        _defaults:
            autowire: true
            autoconfigure: true
            public: false
